/**** alerts ***********/
.flyover {
   position: fixed;
   width: 50%;
   z-index: 1000000; 
}

.flyover-right-top {
   right: 10px;
   top: 10px;
}
 
.flyover-right-center {
   right: 10px;
   top: 50%;
}

.flyover-right-bottom {
   right: 10px;
   bottom: 10px;
}
/***********************/

/**** height classes ***/
.iwbs-hg-fill {
	height: 100%;
}

.iwbs-hg-toolbar {
	height: 28px;
}

.iwbs-hg-fill-toolbar {
	height: calc((100%) - 34px);
}

/***********************/

/* region type classes */
.iwbs-toolbar {
	width: 100%;
	height: 28px;
	display: inline-block;
}

.iwbs-toolbar>div {
	float: left;
	height: 28px;
}

.iwbs-toolbar-separator {
	width: 20px;
}

.iwbs-toolbar-button-close {
	width: 20px;
	float: right !important;
}

/***********************/

/**** other classes ****/

/* one input in toolbar, usually for search toolbar */
.iwbs-search-input {
	width: 80%;
	max-width: 600px;
}
/***********************/

/* align class, child divs alClient */
.iwbs-childs-alclient>div {
	width: 100%;
	height: 100%;
}

/* cgdevtools components */

/* jqbutton */
input.ui-button,
.ui-button-text-only .ui-button-text {
	padding-top: 0.1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.1em;
}

/* jqbutton div container */
.iwbs-button {
	min-width: 32px;
}

/* jqtab */
.ui-tabs .ui-tabs-panel {
	width: 100%;
	height: calc((100%) - (42px));
	padding: 0;
}

.ui-tabs .ui-tabs-panel>div {
	width: 100%;
	height: 100%;
}

/* jqgrid */
.input.ui-pg-input {
    width: auto;
    padding: 0px;
    margin: 0px;
    line-height: normal
}

.select.ui-pg-selbox {
    width: auto;
    padding: 0px;
    margin: 0px;
    line-height: normal
}
/* end cgdevtools */
